@import url('https://fonts.cdnfonts.com/css/samsung-sharp-sans');


body{
    background-color: black;
    color: white;                          
    font-family: 'Samsung Sharp Sans', sans-serif;
    font-weight: 900;                                        
                                                
} 

h1{
    text-align: center;
    background-color: #360185 ;
    border-radius: 10px;
    -webkit-text-stroke: 2px greenyellow;
    letter-spacing: 3px;
}


h3{
    background-color: rgb(242, 82, 8);
    text-align: center;
    width: 40%;
    margin: 0px auto;
    padding: 25px;
    border-radius: 15px;
    border-left: 5px solid yellow;
    box-shadow: 10px 5px 30px yellow;
    
}
audio{
    width: 100%;
}
hr{
    width: 60%;
    border: 1px solid yellow;

}
